from fastapi.testclient import TestClient
from main import app

client = TestClient(app)

def test_create_{{ model.snake }}():
    payload = {
    {%- for field in model.fields %}
        "{{ field.name }}":
            {%- if field.enum_class_name %}
                "{{ field.enum_values[0] if field.enum_values else 'example' }}"
            {%- elif field.pydantic_type == "str" %}
                "example_{{ field.name }}"
            {%- elif field.pydantic_type == "bool" %}
                True
            {%- elif field.pydantic_type in ["int", "float"] %}
                1
            {%- else %}
                "example"
            {%- endif %},
    {%- endfor %}
    }
    response = client.post("/{{ model.plural }}", json=payload)
    assert response.status_code == 200 or response.status_code == 201

def test_get_all_{{ model.plural }}():
    response = client.get("/{{ model.plural }}")
    assert response.status_code == 200
    assert isinstance(response.json(), list)
